<nav class="bg-black py-4">
    <div class="container flex justify-between items-center">
      <a href="#" class="text-white font-bold text-xl ml-8">SushiFast</a>
      <ul class="flex space-x-4 mr-12">
        <li><a href="#" class="text-white hover:text-gray-300">Accueil</a></li>
        <li><a href="#" class="text-white hover:text-gray-300">Produits</a></li>
        <li><a href="#" class="text-white hover:text-gray-300">Services</a></li>
        <li><a href="#" class="text-white hover:text-gray-300 transition-all duration-300"><lucide-icon name="shopping-cart"></lucide-icon></a></li>
      </ul>
    </div>
  </nav>
  